<!DOCTYPE html>
<html>
    <head>
      <h2><%= File.expand_path('../../', __FILE__) + "!!!"%></h2>
        <title>My Blog</title>
        <link rel="stylesheet" media="screen" href="../public/css/blog.css" />
        <script type="text/javascript" src="../public/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="../public/js/jquery.timeago.js"></script>
        <script type="text/javascript" src="../public/js/blog.js"></script>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
